body{
    background-color: rgb(238, 235, 225);
}
.login-container{
    height: 75vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 75%;
    margin: auto;
}

.input{
    width: 90%;
    padding: 15px 25px;
    border: none;
    margin: 10px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 5px;
}
.submit-btn{
    padding: 15px 25px;
    width: 90%;
    margin: 10px;
    border: none;
    background-color: rgb(55, 119, 42);
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.title {
    font-size: 44px;
    color: rgb(115, 145, 5);
    text-align: center;
}

.sign-a{
    text-decoration: none;
    color: rgb(42, 164, 15);
}